
* {
    box-sizing: border-box;
  }

  .slider {
    /* width: 1000px; */
    text-align: center;
    border-radius: 10px;
    overflow: hidden;
  }

  .slides {
    display: flex;
    overflow-x: auto;
    justify-content: center;
    /* overflow: hidden; */
    /* scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch; */
  }
  .slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }
  .slides::-webkit-scrollbar-thumb {
    background: black;
    border-radius: 10px;
  }
  .slides::-webkit-scrollbar-track {
    background: transparent;
  }
  .slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    object-fit: cover;
    width: 1200px;
    height: 60vh;
    /* margin-right: 50px; */
    border-radius: 10px;
    /* overflow: hidden;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s; */
    /* position: relative; */

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }

  .author-info {
    background: rgba(0, 0, 0, 0.75);
    color: white;
    padding: 0.75rem;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
  }
  .author-info a {
    color: white;
  }
  img {
    object-fit: cover;
    /* position: absolute; */
    top: 0;
    left: 0;
    max-width: 100%;
    max-height:100%;
    height: auto;
    border-radius: 15px;
  }

  .slider > a {
    display: inline-flex;
    width: 1.5rem;
    height: 1.5rem;
    background: #eee;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 0 0 0.5rem 0;
    position: relative;
  }
  .slider > a:active {
    top: 1px;
  }
  .slider > a:focus {
    background: #000;
  }

  .wrap2 {
    display: flex;
    justify-content: center;
  }


.img
{
  position: absolute;
  width:500px;
  height:500px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out; transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}
.img:first-child {
  /* display: block; */
  opacity: 1;
}
#wrap2 { padding: 20px; }
div { margin: 8px 0px }



/* next prev button*/
  figure .btnPrev {
  	width: 60px;
  	height: 60px;
  	position: absolute;
  	top: 45%;
  	left: 27%;
  	transform: translate(-20vw, -50%);
  	display: flex;
  	align-items: center;
  	text-align: left;
  	cursor: pointer;
  }
  figure .btnPrev span {
  	font: 11px/1 "arial";
  	color: #000;
  	opacity: 1;
  	transform: translateX(30%);
  	transition: 0.5s;
  }
  /* figure .btnPrev::before {
  	content: "";
  	display: block;
  	width: 100%;
  	height: 1px;
  	background: #000;
  	position: absolute;
  	top: 50%;
  	left: 0px;
  	transform-origin: left center;
  	transform: rotate(-180deg);
  	transition: 0.5s;
  }
  figure .btnPrev::after {
  	content: "";
  	display: block;
  	width: 100%;
  	height: 1px;
  	background: #000;
  	position: absolute;
  	bottom: 50%;
  	left: 0px;
  	transform-origin: left center;
  	transform: rotate(180deg);
  	transition: 0.5s;
  } */
  figure .btnPrev:hover span {
  	opacity: 0;
  	transform: translateX(100%);
  }
  figure .btnPrev:hover::before {
  	transform: rotate(-30deg);
  }
  figure .btnPrev:hover::after {
  	transform: rotate(30deg);
  }
  figure .btnNext {
  	width: 60px;
  	height: 60px;
  	position: absolute;
  	top: 50%;
  	right: 37%;
  	transform: translate(20vw, -50%);
  	display: flex;
  	align-items: center;
  	text-align: right;
  	cursor: pointer;
  }
  figure .btnText {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 110%;
    right: 36%;
    transform: translate(20vw, -50%);
    display: flex;
    align-items: center;
    text-align: right;
  }
  /* figure .btnNext button {
  	font: 11px/1 "arial";
  	color: #000;
  	opacity: 1;
  	transform: translateX(-30%);
  	transition: 0.5s;
  }
  figure .btnNext::before {
  	content: "";
  	display: block;
  	width: 100%;
  	height: 1px;
  	background: #000;
  	position: absolute;
  	top: 50%;
  	left: 0px;
  	transform-origin: right center;
  	transform: rotate(180deg);
  	transition: 0.5s;
  }
  figure .btnNext::after {
  	content: "";
  	display: block;
  	width: 100%;
  	height: 1px;
  	background: #000;
  	position: absolute;
  	bottom: 50%;
  	left: 0px;
  	transform-origin: right center;
  	transform: rotate(-180deg);
  	transition: 0.5s;
  }
  figure .btnNext:hover button {
  	opacity: 0;
  	transform: translateX(-100%);
  }
  figure .btnNext:hover::before {
  	transform: rotate(30deg);
  }
  figure .btnNext:hover::after {
  	transform: rotate(-30deg);
  } */
  button {
    /* margin: 20px; */
    outline: none;
  }
  .custom-btn {
    width: 130px;
    height: 20px;
    padding: 10px 25px;
    border: 2px solid #000;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    /* top:500px;
    left:-50px; */
  }
  .btn-16 {
     background: #000;
    color: #fff;
    z-index: 1;

  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    background: #fff;
    transition: all 0.3s ease;
    /* top:500px;
    left:-50px; */
  }
  .btn-16:hover {
    color: #000;
    background: #fff;
    /* top:500px;
    left:-50px; */
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
    /* top:500px;
    left:-50px; */
  }
  .btn-16:active {
    top: 2px;
    /* top:500px;
    left:-50px; */
  }

  .btnText{
    top:500px;

  }

  main{
      min-height: 68vh;
      width: 80% !important;
      padding: 0px !important;
      background-color: rgb(124 120 120/ 13%) !important;
  }

.training-img>img{
  left:90px;
}
