
  body{
    font-family: sans-serif;
    font-size: 18px;
  }

  /* 레이아웃 */
  .grid{
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 10px 50px 30px 50px;
    border: 2px solid #e1e1e1;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #cbcbcb;
  }
  .grid h1{
    color: #333;
    font-size: 2.4em;
    text-align: center;
  }
  .grid h2{
    color: #333;
    font-size: 1.4em;
    text-align: center;
  }

  /* 문제 영역 */
  .grid #question, .grid #question_eng, .grid #question_spn{
    font-size: 24px;
    background-color: #000000; color: #fff;
    font-size: 2.2em;
    padding: 10px 2em;
    border-radius: 15px;
    text-align: left;
  }
  #quiz{ text-align: center; }

  /* 진행 정보 */
  #progress{
    color: #2b2b2b;
    font-size: 20px;
  }

  /* 버튼 영역 */
  .buttons{
    padding: 30px 20px;
    border: 2px solid #EED0DC;
    border-radius: 20px;
    display: flex;
    justify-content: center;
  }
  .btn_test{
    background-color: #ffffff;
    color: #333;
    width: 250px;
    font-size: 16px;
    border: 1px solid #ffe3ed;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    transition: 0.5s;
  }
  .btn_test:nth-child(2n){ margin-right: 0; }
  .btn_test:hover{
    cursor: pointer;
    background-color: #C34C74; color: white;
  }
  .btn_test:focus{ outline: 0; }

#quiz_footer{
  width: 100% !important;
}
